.making {
  padding-bottom: 65px;
}

.making > h2 {
  max-width: 720px;
}

.making-list {
  text-align: center;
  gap: 35px 30px;
}

.making-item {
  background: url('clock.svg') no-repeat center top;
  background-size: 90px auto;
  padding-top: 108px;
  flex-basis: 300px;
}

.making-item:nth-of-type(2) {
  background-image: url('teeth.svg');
  background-size: 99px auto;
}

.making-item:last-of-type {
  background-image: url('award.svg');
}

.making-title {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 12px;
}
